<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App de Gestion de Tareas</title>

    <!-- Este link nos conecta a nuestra "Hoja de Estilo" propia en el "main.css"-->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">

    <!-- Este link lo usaremos para conectarnos a Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!--Este link es para usar temas creados con Bootstrap en Bootswatch -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">

    <!-- Estos links son de "Google Fonts" del que vamos a usar las fuentes disponibles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Esto nos imprime un texto por pantalla. Al usar (class="titulo") accedemos a la variable creada en en .css la cual
     hemos aplicado una fueste concreta (la de Google Font). -->
    <!-- Para aceder al identificador "class" debemos preceder la variable de un "." a la hora de crearla en el "main.css". -->
    <h1 class="display-4 text-center mt-4 titulo">Estoy en index.html</h1>

    <div class="row">
        <div class="col-md-4 offset-md-4 my-auto">
            <div class="card">
                <div class="card-header">
                    <form action="/crear_tarea" method="post">
                        <div class="input-group">
                            <input type="text" name="contenido_tarea" placeholder="Tarea" class="form-control" autofocus>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    </form>
                </div>
                <div class="card-body">
                    <ul>
                        {% for tarea in l_tareas: %}
                        <li>
                            <span class="{% if tarea.hecha==true %} tarea_hecha {% endif %}">{{tarea.contenido}} </span>
                            <a href="/tarea-hecha/{{tarea.id_tarea}}" style="text-decoration:none" class="btn btn-primary btn-sm"> Hecho </a>
                            <a href="/eliminar-tarea/{{tarea.id_tarea}}" style="text-decoration:none" class="btn btn-danger btn-sm"> Eliminar </a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>


</body>
</html>